@use '../helpers' as *;

.header {
	padding-top: 32px;
	background-color: var(--color-grey-200);

	&__body {
		&-inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
			column-gap: 16px;
			padding: 12px 32px;
			background-color: var(--color-dark);
			border-radius: var(--border-radius-xxl);

			@include mobile {
				padding: 6px 8px 6px 20px;
			}
		}
	}

	&__menu {
		&-list {
			display: flex;
			align-items: center;	
			column-gap: 50px;
			
			@include tablet {
				column-gap: 36px;
			}
		}

		&-link {
			align-items: center;
			height: 48px;
			color: var(--color-white);

			@include hover {
				opacity: 0.7;
			}
		}
	}
}