.blur-effect {
	position: relative;
	background-image: linear-gradient(180deg, rgba(243, 243, 245, 0), rgba(243, 243, 245, 0.3) 47.99%, rgba(243, 243, 245) 100%);
	backdrop-filter: blur(2px); /* Блюр только для фона */
}

.blur-effect::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1; /* Убираем псевдоэлемент на задний план */
}
