.button {
	@include flex-center(true);

	height: var(--button-height);
	padding-inline: 32px;
	font-family: var(--font-family-accent);
	font-weight: 500;
	color: var(--color-light);
	background-color: var(--color-dark);
	border-radius: var(--border-radius);

	@include hover {
		background-color: rgba(23, 23, 23, 0.8);
	}

	&--accent {
		color: var(--color-dark);
		background-color: var(--color-accent);
		box-shadow: var(--shadow);
		
		@include hover {
			background-color: rgba(209, 247, 1, 0.95);
		}
	}

	&--accent-alt {
		color: var(--color-light);
		background-color: var(--color-accent-alt);
		box-shadow: var(--shadow);
			
		@include hover {
			opacity: 0.9;
		}
	}
}