.display {
	display: flex;
	justify-content: center;
	align-items: center;

	&__image {
		position: relative;
		justify-content: center;
		align-items: center;
	}

	&__ptale {
		position: absolute;
		margin-top: 16px;
		margin-right: 74px;
	}
}