.features {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	&__body {
		display: flex;
		row-gap: 40px;
		max-width: 505px;
	}

	&__list {
		display: flex;
		row-gap: 32px;
	}
}