.features {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	&__body {
		max-width: 505px;
	}







	&__text {
		display: flex;
		flex-direction: column;
		row-gap: 16px;
		margin-bottom: 40px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
	}

	&__item {
		&-icon-wrapper {
			@include flex-center;
			@include square(52px);

			background-color: var(--color-cold-white-alt);
			border-radius: var(--border-radius-tiny);
		}

		&-title {
			font-family: var(--font-family-accent);
			font-weight: 600;
		}

		&-description {
			color: var(--color-gray);
		}
	}
}