.header {
	padding-top: 32px;

	&__inner {
		display: flex;
		justify-content: space-between;
		padding: 12px 32px;
		background-color: var(--color-dark);
		border-radius: var(--border-radius);
	}

	&__menu {
		color: var(--color-light);

		&-list {
			display: flex;
			align-items: center;
		}

		&-item {
			@include hover {
				opacity: 0.85;
			}

			&:not(:last-child) {
				margin-right: 50px;
			}
		}

		&-link {
			display: inline-flex;
			align-items: center;
			height: 48px;
		}
	}
}