.header {
	padding-top: 32px;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 12px 32px;
		background-color: var(--color-dark);
		border-radius: var(--border-radius);
	}

	&__menu {
		color: var(--color-light);

		&-list {
			@include flex-center(true);

			&:not(:last-child) {
				margin-right: 50px;
			}
		}

		&-item {

		}

		&-link {
			@include hover {
				opacity: 0.8;
			}
			
			@include flex-center;

			height: 48px;
		}
	}
}