.hero {
	display: flex;
	flex-direction: column;
	max-height: 632px;

	&__content {
		max-width: 750px;
		margin: 0 auto;
		text-align: center;
	}

	&__slogan {
		display: inline-flex;
		align-items: center;
		padding: 4px 12px 4px 4px;
		margin-bottom: 12px;
		font-family: var(--font-family-accent);
		font-weight: 500;
		background-color: var(--color-soft-gray-alt);  
		border-radius: var(--border-radius);

		&-icon-wrapper {
			@include flex-center;
			@include square(32px);

			margin-right: 8px;
			background-color: var(--color-light);
			border-radius: 50%;
		}
	}

	&__title {
		margin-bottom: 16px;
		font-family: var(--font-family-accent);
		line-height: 1.24;
	}

	&__description {
		max-width: 448px;
		margin: 0 auto 24px;
		color: var(--color-gray-alt);
	}

	&__actions {
		display: flex;
		justify-content: center;
		column-gap: 16px;
		margin-bottom: 64px;
	}

	&__media {
		position: relative;
		margin: 0 auto;
	}

	&__image {
		height: auto;
	}

	&__blur-effect {
		position: absolute;
		top: 146px;
		width: 1240px;
		height: 212px;
		backdrop-filter: blur(2px);
		background: linear-gradient(180.00deg, rgba(243, 243, 245, 0),rgba(243, 243, 245, 0.3) 47.99%,rgb(243, 243, 245) 100%);
	}
}