.header-wrapper, 
.section-wrapper { 
	position: relative;
}

.header-wrapper::before, 
.header-wrapper::after, 
.section-wrapper::before, 
.section-wrapper::after { 
	content: ''; 
	position: absolute; 
	top: 0; 
	bottom: 0; 
	width: 100%; 
	pointer-events: none; 
}

.header-wrapper::before, 
.section-wrapper::before { 
	left: 32px; 
	width: calc(100% - 64px); 
	display: flex; 
	justify-content: space-between;
}

.header-wrapper::after, 
.section-wrapper::after { 
	right: 32px; 
	width: 2px; 
	background-color: rgba(0, 0, 0, 0.05);
}

.header-wrapper::before, 
.section-wrapper::before { 
	background: repeating-linear-gradient( 
		to right, 
		rgba(0, 0, 0, 0.05),
		rgba(0, 0, 0, 0.05) 2px, 
		transparent 2px, 
		transparent 57px
		)
	
};