.main-wrapper { 
	position: relative; 
}

.main-wrapper::before { 
	content: ''; 
	position: absolute; 
	top: 0; 
	left: 32px; 
	right: 32px; 
	height: calc(100vh + 774px);
	background: repeating-linear-gradient( 
		to right,
		rgba(0, 0, 0, 0.05), 
		rgba(0, 0, 0, 0.05) 2px, 
		transparent 2px, 
		transparent 57px 
	); 
	pointer-events: none;
	z-index: -1;
}