.header-wrapper, .section-wrapper {
	position: relative;
}

.section-wrapper::before {
	content: '';
	position: absolute;
	top: -32px; // Поднимаем до верха хедера
	left: 32px;
	right: 32px;
	height: calc(774px + 32px); // Полная высота секции + отступ хедера
	background: repeating-linear-gradient(
		 to right,
		 rgba(0, 0, 0, 0.05),
		 rgba(0, 0, 0, 0.05) 2px,
		 transparent 2px,
		 transparent 57px
	);
	pointer-events: none; // Исключаем взаимодействие с элементом
	z-index: -1; // Размещаем за содержимым
}
