.partners {
	display: flex;
	flex-direction: column;
	text-align: center;

	&__title {
		@include fluid-text(24, 18);
		
		text-align: center;
		font-family: var(--font-family-accent);
		font-weight: 500;
		margin-bottom: 10px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		max-width: 980px;
		margin: 0 auto;
		gap: 0 70px;
	}

	&__item {
		flex: 0 0 auto;
		margin-bottom: -52px;
	}

	&__image {
		height: auto;
	}
}