.partners {
	text-align: center;

	&__title {
		@include fluid-text(24, 18);
		
		font-family: var(--font-family-accent);
		font-weight: 500;
		margin-bottom: 10px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(5, 140px);
		grid-template-rows: auto;
		max-width: 980px;
		margin: 0 auto;
		gap: 0 70px;
		row-gap: -52px;
	}

	&__item {
		&:nth-child(n+6) {
			grid-column: span 1 / span 1;
			justify-self: center;
		}
	}

	&__image {
		height: auto;
	}
}