.partners {
	display: flex;
	flex-direction: column;
	row-gap: 10px;

	&__title {
		text-align: center;
		font-family: var(--font-family-accent);
		font-weight: 500;
	}

	&__list {
		display: flex;
	}

	&__item {

		&:not(:last-child) {
			margin-right: 70px;
		}
	}
}