.partners {

	&__title {
		@include fluid-text(24, 18);

		text-align: center;
		font-family: var(--font-family-accent);
		font-weight: 500;
		margin-bottom: 10px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 0 70px;
		max-width: 980px;
	}

	&__item {
		&:nth-child(n+6) {
			grid-column: span 1;
			justify-self: center;
			margin-top: -52px;
		}
	}

	&__image {
		height: auto;
	}
}