.partners {
	display: flex;
	flex-direction: column;

	&__title {
		text-align: center;
		font-family: var(--font-family-accent);
		font-weight: 500;
		margin-bottom: 10px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		justify-content: center;
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.partners__item:nth-of-type(n+6) { 
		grid-column: span 5; 
		margin-top: -52px;
		justify-content: space-evenly;
	}

	&__image {
		height: auto;
	}
}