.partners {
	display: flex;
	flex-direction: column;

	&__title {
		text-align: center;
		font-family: var(--font-family-accent);
		font-weight: 500;
		margin-bottom: 10px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;

		&:not(:last-child) {
			margin-right: 70px;
		}
	}

	&__image {
		height: auto;
	}

	
}