.partners {
	display: flex;
	flex-direction: column;

	&__title {
		@include fluid-text(24, 18);
		
		text-align: center;
		font-family: var(--font-family-accent);
		font-weight: 500;
		margin-bottom: 10px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(5, 140px);
		grid-template-rows: auto auto;
		gap: 0 70px;
	}

	&__item {
		margin-bottom: -52px;
	}

	&__image {
		height: auto;
	}
}