.partners {
	display: flex;
	justify-content: center;

	&__title {
		@include fluid-text(24, 18);

		font-family: var(--font-family-accent);
		font-weight: 500;
		margin-bottom: 10px;
	}

	&__list {
		flex-wrap: wrap;
		gap: 0 70px;
		max-width: 980px;
		margin: 0 auto;
	}

	&__item {
		&:nth-child(n+6) {
			margin-top: -52px;
		}
	}

	&__image {
		height: auto;
	}
}