.partners {
	display: flex;
	flex-direction: column;

	&__title {
		@include fluid-text(24, 18);
		
		text-align: center;
		font-family: var(--font-family-accent);
		font-weight: 500;
		margin-bottom: 10px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		justify-content: center;
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.partners__item:nth-of-type(6), 
	.partners__item:nth-of-type(7), 
	.partners__item:nth-of-type(8), 
	.partners__item:nth-of-type(9) { 
		grid-column: span 1; 
		margin-top: -52px;
	}

	.partners__item:nth-child(6) { 
		grid-column-start: 2; 
	}

	&__image {
		height: auto;
	}
}