.plate {
	@include flex-center;

	position: absolute;
	top: 16px;
	right: 452px;
	padding: 10px 16px;
	font-family: var(--font-family-accent);
	background-color: var(--color-light);
	border: var(--border);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow-alt);

	&__icon-wrapper {
		@include flex-center;
		@include square(24px);

		position: relative;
		column-gap: 12px;

		&::before {
			@include square(24px);
			@include abs-center;

			content: '';
			position: absolute;
			background-color: var(--color-accent);
			border-radius: 50%;
		}
	}

	&__icon {
		z-index: 100;
	}

	&--income {
		display: block;
		width: 228px;
		top: 98px;
		right: 332px;
		transform: rotate(-6deg);
		padding: 24px;
		border-radius: var(--border-radius-medium);
		box-shadow: var(--shadow-large);
	}

		&__header {
			display: flex;
			flex-direction: column;
			margin-bottom: 24px;
		}

		&__title-wrapper {
			display: flex;
			align-items: center;
			column-gap: 6px;
			margin-bottom: 12px;
		}

		&__title {
			font-family: var(--font-family-base);
			color: var(--color-gray);
		}

		&__icon-wrapper {
			transform: scaleX(-1);
		}

		&__description {
			font-family: var(--font-family-accent);
			font-size: 32px;
			font-weight: 600;
		}

		&__footer {
			display: flex;
		}

	&--income-alt {
		display: block;
		top: 24px;
		right: -244px;
		width: 216px;
		padding: 24px;
		font-family: var(--font-family-base);
		border-radius: var(--border-radius-medium);
	}

	&--reviews {
		top: 192px;
		right: -132px;
		padding: 2px 6px 2px 2px;
		column-gap: 3px;
		font-family: var(--font-family-base);
		font-size: 20px;
		font-weight: 500;
	}

		&__image-wrapper {
			display: flex;
		}

		&__image {

			&:not(:first-child) {
				margin-left: -8px;
			}
		}

	&--little {
		top: 227px;
		right: -214px;
		padding: 12px;
	}

	&__icon {
		transform: scaleX(-1);
	}
}