@use 'helpers' as *;

body {
	@include fluid-text(16, 14);

	font-family: var(--font-family-base);
	font-weight: 400;
	line-height: 1.28;
	color: var(--color-dark);
	background-color: var(--color-white);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--font-family-accent)	
}

h1 {
	@include fluid-text(54, 32);

	line-height: 1.24
}
 
h2 {
	@include fluid-text(48, 28);
}
 
h3 {
	@include fluid-text(32, 24);
}
 
h4 {
	@include fluid-text(24, 20);
}

h5 {
	@include fluid-text(20, 18);
}